@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.gradient-bg {
  font-size: 18px;
  /*font-size: 50px;*/
  background-color: #0f0e13;
  background-image: radial-gradient(at 0% 0%, hsl(0, 0%, 6%) 0, transparent 50%),
  radial-gradient(at 0% 0%, hsla(225, 39%, 30%, 1) 0, transparent 50%),
  radial-gradient(at 100% 100%, hsl(31, 94%, 14%) 0, transparent 50%);
}


.glassmorph{
  background: rgba(101, 120, 128, 0.144);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.4px);
  -webkit-backdrop-filter: blur(8.4px);
  border: 1px solid rgba(255, 255, 255, 0.27);
}

.blue-glassmorph{
  background: rgba(165, 87, 207, 0.21);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.4px);
  -webkit-backdrop-filter: blur(8.4px);
  border: 1px solid rgba(255, 255, 255, 0.27);
}

.green-glassmorph{
  background: rgba(48, 210, 56, 0.125);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.4px);
  -webkit-backdrop-filter: blur(8.4px);
  border: 1px solid rgba(255, 255, 255, 0.27);
}

.button{
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
}

.wonderful-text {
  background: linear-gradient(
            to right, #fc5c7d, #6a82fb);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
}

